body { 

  margin: 0; 

  font-family: Sherlock, Helvetica, sans-serif; 

  background-color: #f5f6fa; 

  color: #333; 

} 

header { 

  background-color: #002699; 

  color: white; 

  text-align: center; 

  padding: 20px; 

} 